body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #333;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #77b300 3px solid;
}

header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header ul {
    padding: 0;
    list-style: none;
}

header li {
    display: inline;
    padding: 0 20px 0 20px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .container h1 {
    float: left;
}

main {
    padding: 20px;
    background: rgb(45, 45, 45);
}

.post-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0; /* Remove the gap between articles */
    justify-content: flex-start; /* Align items to start */
}

.post-wrapper article {
    width: 14.2857%; /* Ensure each article takes up one-third of the container */
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poster {
    width: 100%; /* Ensure the poster image fills the article */
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.poster:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.diary-section {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
}

.review_poster {
    width: 25%; /* Ensure the poster image fills the article */
    height: auto;
    display: block;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}