<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Personal Blog</title>
    <link rel="stylesheet" href="../static/home.css">
</head>
<body>
    <header>
        <div class="container">
            <h1>My Personal Blog</h1>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>
    
    <main>
        <div class="container">
            <section class="review-section">
                <h2>About Me & This Site</h2> <br>
                <em> This site being my memory wasteland is some sort of a life log or a rebellion to real world state. 
                    Perhaps also a farewell to my past. 
                    Despite my impulse to build this site long time ago, 
                    recently I was hunted by memories of my past and it drags me into a infinite nihilism and strong sense of nostalgia.
                    So it came to me that it is always necessary to write down whatever pain and happiness:
                    When I turned back and recall my life 10 years ago as a child or a teenager, 
                    it just gives me a feeling of so unreal and cannot imagine how a person can change over time.
                    Indeed me 10 years ago and 10 years later are two absolute different person, but luckily some character have never changed.
                    I shall be strong enough and endure the waves of memories, both good and bad, that shape who I am today. 
                    This site will be my sanctuary, a place where I can pour out my thoughts and emotions without fear of judgment
                </em>

                <br>

                <h2>Film Reviews</h2> <br>
                <em>Here are my thoughts on films that I have watched since 2017? <br>
                   By the time I was enthusiastic and most of the time alone. <br>
                   I got the time to watch and share my thoughts on all of them. <br>
                   Things changed a lot over the years, I slowed and stalled my process of each film. <br>
                   However, I still have that interest. If you share the same interest, you can click the button below.
                </em>
                <br>
                <a href="review">Read Reviews</a>
                <!-- Add more content related to reviews -->
                 <br>
                <h2>Thoughts & Long Reviews </h2> <br>
                <em>
                    When I was in my freshman year, 
                    I chose Film Appreciation and Art as my general education class.
                    Among which the review YiYi(A One and An After) was left to be our final dissertation.
                    I'm glad that I got the chance to see such film with slow pace and life meaning.
                    Althougt it didn't leave a shock to me instantly at that time, but I'm still get impacted with this one.
                    The following button links to my review which written in Chinese, hope one day I'll translate it by myself.
                </em>
                <br>
                <a href="yiyi">Read Review</a>
            </section>

            <section class="diary-section">
                
            </section>
        </div>
    </main>
    
    <footer>
        <div class="container">
            <p>&copy; 2024 My Personal Blog</p>
        </div>
    </footer>
</body>
</html>


